/*
 * jQuery FlexPanel v1
 * https://github.com/dcooney/flexpanel
 *
 * Copyright 2014 Connekt Media - http://cnkt.ca/flexpanel
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney 
 * Twitter: @KaptonKaos
 */
#container,
#wrapper {
  width: 100%;
  position: relative;
}

#wrapper {
  left: 0;
  -webkit-transform: translate3d(1, 0, 0);
  -moz-transform: translate3d(1, 0, 0);
  -ms-transform: translate3d(1, 0, 0);
  transform: translate3d(1, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.flexpanel {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.35s ease;
  -moz-transition: -moz-transform 0.35s ease;
  transition: transform 0.35s ease;
}
.flexpanel .viewport-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.flexpanel .flex-btn {
  width: 34px;
  height: 33px;
  position: absolute;
  left: -52px;
  top: 25px;
  z-index: 9;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: translate3d(1,0,0);
  -moz-transform: translate3d(1,0,0);
  -ms-transform: translate3d(1,0,0);
  transform: translate3d(1,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
.flexpanel .flex-btn.in-view {
  opacity: 1;
  filter: alpha(opacity=100);
}
.flexpanel .flex-btn span {
  width: 20px;
  height: 3px;
  display: block;
  overflow: hidden;
  background-color: #666;
  text-indent: -9999px;
  display: block;
  margin: 0 auto 3px;
  clear: both;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
  position: absolute;
}
.flexpanel .flex-btn span.one {
  top: 9px;
  left: 7px;
}
.flexpanel .flex-btn span.two {
  top: 15px;
  left: 7px;
}
.flexpanel .flex-btn span.three {
  top: 21px;
  left: 7px;
}
.flexpanel .flex-btn:hover span {
  background-color: #333;
}
.flexpanel .cover {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  display: none;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.flexpanel .viewport {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background: #333;
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  box-sizing: border-box;
  /* css3 */
}
.flexpanel .viewport.smooth {
  -webkit-overflow-scrolling: touch;
}
.flexpanel div.navigation {
  padding: 10px 10px 50px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.flexpanel div.navigation ul {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.flexpanel div.navigation ul li {
  margin: 0 2%;
  padding: 0;
  clear: both;
  list-style: none;
  width: auto;
  display: block;
  font-size: 18px;
  border-top: 1px solid #333;
}
.flexpanel div.navigation ul li:first-child {
  border-top: none;
}
.flexpanel div.navigation ul li ul {
  margin: 0;
  border: none;
}
.flexpanel div.navigation ul li ul li {
  font-size: 14px;
  margin: 0 0 5px;
  border: none;
}
.flexpanel div.navigation ul li ul li a {
  padding: 10px 14px;
}
.flexpanel div.navigation ul li a {
  padding: 10px 0;
  display: block;
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.flexpanel div.navigation ul li.active > a {
  color: #66c9cd !important;
  font-weight: bold;
}

body.flexpanel-active #wrapper {
  -webkit-transform: translate(-79%, 0);
  -moz-transform: translate(-79%, 0);
  -ms-transform: translate(-79%, 0);
  transform: translate(-79%, 0);
  opacity: 0.4 !important;
  filter: alpha(opacity=40) !important;
}
body.flexpanel-active .flexpanel {
  right: -80%;
}
body.flexpanel-active .flexpanel .cover {
  display: block;
  left: -130%;
}
body.flexpanel-active .flexpanel .navigation {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body.flexpanel-active .flexpanel .viewport-wrap {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
body.flexpanel-active .flexpanel .viewport-wrap .flex-btn {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
body.flexpanel-active .flexpanel .viewport-wrap .flex-btn span {
  background-color: #222;
}
body.flexpanel-active .flexpanel .viewport-wrap .flex-btn span.two {
  opacity: 0;
}
body.flexpanel-active .flexpanel .viewport-wrap .flex-btn span.one {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
}
body.flexpanel-active .flexpanel .viewport-wrap .flex-btn span.three {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
}

body.isIE.flexpanel-active #wrapper {
  left: -79%;
}
body.isIE.flexpanel-active .flexpanel {
  right: 0;
}

body.flexpanel-left .flexpanel {
  right: auto;
  left: -80%;
}
body.flexpanel-left .flexpanel .flex-btn {
  left: auto;
  right: -48px;
}
body.flexpanel-left .flexpanel .cover {
  left: auto;
  right: -50%;
}

body.flexpanel-left.flexpanel-active #wrapper {
  -webkit-transform: translate(75%, 0);
  -moz-transform: translate(75%, 0);
  -ms-transform: translate(75%, 0);
  transform: translate(75%, 0);
}
body.flexpanel-left.flexpanel-active .flexpanel {
  right: auto;
  left: -80%;
}
body.flexpanel-left.flexpanel-active .flexpanel .cover {
  display: block;
  left: 130%;
}
body.flexpanel-left.flexpanel-active .flexpanel .viewport-wrap {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

body.flexpanel-left.isIE.flexpanel-active #wrapper {
  left: 75%;
}
body.flexpanel-left.isIE.flexpanel-active .flexpanel {
  left: 0;
}
