
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($val){	
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	transition: $val;
}
@mixin transform($value){	
	-webkit-transform: #{$value};
	-moz-transform: #{$value};
	-ms-transform: #{$value};
	transform: #{$value};
}

@mixin clear() { 
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
@mixin hide{
    overflow:hidden;
    text-indent:-9999px;
    display:block;
}
@mixin reset{
	margin:0;
	padding:0;
	background: none;
}
@mixin box-sizing{
-webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}

