$speed : 0.3s;
$btnMargin : 20px;

//Viewport breakpoints 
$desktop: 960px;
$tablet: 768px; 
$mobile: 600px;

//Width of the panel
$desktopPanelWidth : 40%;
$tabletPanelWidth : 50%; 
$mobilePanelWidth : 80%;
