@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Gafata);


@import "_mixins";
@import "_variables";
 
/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0;  padding: 0;  border: 0;  font-size: 100%;  vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
:focus{outline:none;}
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; } 
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; 
-webkit-text-size-adjust: auto; /* Automatically adjusted for Safari on iPhone. */
-ms-text-size-adjust: auto;}
a:hover, a:active { outline: none; }
ul, ol { margin-left: 1.5em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

a:link { -webkit-tap-highlight-color: none;  }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea {  color: #444; }

*{
	@include box-sizing;
}

html { 
	font-size: 76.5%;
	-webkit-text-size-adjust: none;
} 
body{	
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	background: #fff;
	padding:0;
	margin:0;	
	font-size:1.3em;
	line-height:1.6em;
	color:#666;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
	font-weight: bold;
	color:#000;
	text-decoration: none;
}
	a:hover{
		color:#444;
		text-decoration: underline;
	}
img{
	max-width:100%;
} 
p, li{
	list-style:none;
	margin:0 0 1.5em;	
	font-size: 1em;
}
ul, ol, li{
	margin:0;
	padding:0;	
	list-style:none;
}
ul{
	margin:10px 0 15px ;
	padding:0;
}
	ul li{
		margin:5px 0 10px 16px;
		padding:0;
		line-height: 1.5em;
		list-style-type: disc;
	} 
	ul ul{
		margin:15px 0 0 15px;
	}

ol{
	margin:10px 0 15px;
	padding:0;
}
	ol li{
	  list-style: decimal outside none;
	  margin: 5px 0 5px 25px;
	  padding: 0 0 0 0;
	}

h1, h2, h3{
	margin: 0 0 0.5em;
	font-weight: bold;
	color:#222;	
	line-height: 1.2em;
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
	font-weight: 700;
}
h1{
	font-size:40px;
}
h2{
	font-size:32px;
}
h3{
	font-size:20px;
	color:#666;
}
h1 + h3,
h3 + p{
	margin-top:-0.5em;	
	font-weight: 300;
	font-family: 'Gafata', helvetica, arial, sans-serif;
}
#container{
	overflow: hidden;
}
#wrapper {
	width: 100%;
	position: relative;		
	margin:0 auto;
	padding:20px 0 0;
	div.inner{
		padding:0;
	} 
}
header.main{
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	.inner-wrap{
		padding: 0 20px;
	}
}
section.banner{
	position: relative;
	padding: 0 20px;
	.inner-wrap{
		margin: 0 auto;
		padding: 0;
	}
}

.aligncenter{
	clear: both;
	text-align: center;
	margin: 20px auto 20px;
	display: block;
	border: 1px solid #ebebeb;
	padding: 5px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

#fork{
	@media screen and (max-width:480px) {
		display: none;
	}
}	

.inner-wrap{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
	
}

.highlight, 
.feature{
	background: #ffffe9;
	padding:60px 5%;
	margin:0;
	overflow: hidden;
	p{
		margin:5px 0;
	}
	@media screen and (max-width:$tablet) {	
		padding: 7% !important;
	}
}

.highlight,
#features{
	text-align: center;
	h2:before{
		border: none;
		margin: 0;
	}
}
.highlight{
	overflow: hidden;
}
.highlight p{	
	font-family: 'Gafata', helvetica, arial, sans-serif;
}
.feature:nth-child(even){
	background: #f0f0f0;
}
.feature{
	background: #fff;
	padding:60px 5%;
	h2{
		padding:0;
		margin:0 0 30px 0;
		line-height: 1;
		position: relative;
	}
	h2:before {
	  border-top: 1px solid #ccc;
	  color: inherit;
	  content: "";
	  display: block;
	  height: 0;
	  margin: 0 0 40px;
	  width: 50px;
	}
	h3{
		position: relative;
		a{
			position: absolute;
			right:0;
	    	display: inline-block;
	    	margin:0 0 0 10px;
	    	font-size:0.7em;
	        text-transform: uppercase;	
	        font-weight: 600;
	        padding:2px 8px;
			@include border-radius(4px);
			background: #ef6f6f;
			color:#fff;
			&:hover{
				text-decoration: none;
				background: #e16262;
			}
			&:active{
				text-decoration: none;
				background: #d35858;
				box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
#usage pre,
#configuration pre{
   text-align: left;
}

.copyright{
	background: #ef6f6f;
	color:#fff;
	padding:2.5%;
	*{
		color: #fff;
	}
	p{
		text-align: center;
		margin: 0;
		font-size: 0.9em;
	}
}
p.btn{
	text-align: center;
	display: inline-block;
	margin:20px 10px 5px;
	font-size:1.1em;
	text-transform: uppercase;	
	font-weight: 500;
	@media screen and (max-width:767px) {
		display: block;
	}
	a{
		padding:12px 25px;
		@include border-radius(4px);
		background: #ef6f6f;
		color:#fff;
		display: block;	
		&:hover{
			text-decoration: none;
			background: #e16262;
		}
		&:active{
			text-decoration: none;
			background: #d35858;
			box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
		}
	}
}
.one_half{
	width:50%;
	float: left;
	padding:0 2.5%;
	margin:0;
	@media screen and (max-width:767px) {	
		width:100%;
		float: none;
		clear: both;
		padding:0 2.5%;
		margin:0 0 30px;
	
	}
}
.one_third{
	width:33.33%;
	float: left;
	padding:0 2.5%;
	margin:0;
	
	@media screen and (max-width:767px) {	
		width:100%;
		float: none;
		clear: both;
		padding:0 2.5%;
		margin:0 0 30px;	
	}  
}
pre + h3,
h2 + h3{
	margin-top:30px;
}

.social{
	margin:20px;
	height:auto;
	overflow: hidden;
	display: block;
	clear: both;
}

#development,
#changelog{
	ul{
		text-align: left;
		margin: 0 auto;
	}
	p{
		text-align: left;
	} 
}
