/*
 * jQuery FlexPanel v1
 * https://github.com/dcooney/flexpanel
 *
 * Copyright 2013 Connekt Media - http://cnkt.ca/flexpanel
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney 
 * Twitter: @KaptonKaos
 */ 
 
@import "_functions";

#container,
#wrapper {
	width: 100%;
	height: 100%;
	position: relative;		
}

#wrapper{
	left:0;	
	-webkit-transform: translate3d(1,0,0);
	-moz-transform: translate3d(1,0,0);
	-ms-transform: translate3d(1,0,0);
	transform: translate3d(1,0,0); 
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;		
	@include transition(all $speed ease);
}	
 
//***********************************************
// -- FlexPanel Default Styles - RIGHT MENU
//***********************************************
.flexpanel{	
	position: fixed;
	top:0;		
	right:-80%;
	width:80%;	
	height:100%;
	padding: 0;
	margin: 0;
	z-index: 1;
	display: none;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0); 	
	transform: translate3d(0,0,0); 	
	-webkit-transition: -webkit-transform $speed ease;
	-moz-transition: -moz-transform $speed ease;
	transition: transform $speed ease;
	
	//Viewport, Do not remove this element
	.viewport-wrap{
		position: relative;
		width:100%;
		height: 100%;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0); 
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		@include transition(all $speed ease);
	}
	
	//Menu Button
	.flex-btn{
		width:34px;
		height:33px;  
		position: absolute;
		left:-54px;
		top:18px;
		z-index:9;				
		@include transform('translate3d(1,0,0)');
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;	 
		@include transition(all $speed ease);
		cursor: pointer;
		&.in-view{
			opacity: 1;
			filter: alpha(opacity = 100);
		}
		span{			
			width: 20px;
			height: 3px;
			display: block;
			overflow: hidden;
			background-color:#999;
			text-indent: -9999px;
			display: block;
			margin:0 auto 3px;
			clear: both;
			-webkit-transition: -webkit-transform 0.3s ease;
			-moz-transition: -moz-transform 0.3s ease;
			-ms-transition: -ms-transform 0.3s ease;
			transition: transform 0.3s ease;
			position: absolute;
			&:nth-child(1){
				top: 9px;
				left: 7px;
			}
			&:nth-child(2){
				top: 15px;
				left: 7px;
			}
			&:nth-child(3){
				top: 21px;
				left: 7px;
			}
		}	
		&:hover span{
			background-color:#666;
		}
	}
	.cover{
		width:100%;
		position: absolute;
		left:0%;
		top:0;
		display: none;
		height:auto;
		z-index: -1;
		@include transition(all $speed ease);
	}		
	.viewport{
		width:100%;
		height: 100%;
		position: relative;
		padding: 0;			
		overflow: hidden;			
		overflow-y: auto;	
		background: #222;
		@include box-sizing;
		&.smooth{// Add smooth scroll to webkit browsers <- This is a big deal
			-webkit-overflow-scrolling: touch; 
		}		
	}
		
	div.navigation{
		padding: 0 0 50px;	
		ul{		
			display: block;
			clear: both;			
			padding:0;
			margin:0;
			@include transition(all $speed ease);			
			li{
				margin:0 3%;
				padding:0;
				clear: both;
				list-style: none;
				width: auto;
				display: block;
				font-size:18px;
				border-top: 1px solid #333;
				&:first-child{
					border-top:none;
				}
				ul{
					margin:5px 0 20px;
					border: none;
					li{
						font-size:15px;
						margin:2px 0;
						border:none;
						a{
							padding:10px 14px;
							background: #444;
							@include border-radius(2px);
							&:active{								
								background: #333; 
							}
						}
					}
				}
				a{
					padding:10px 0;
					display: block;
					color:#fff;
					text-decoration: none;	
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					&:active{					
						background: #111; 
					}	
				}
				&.active > a{				
					color:#66c9cd !important;
					background: #222 !important;
					font-weight: bold;
				}
				&.active{
					background-color: #222;
				}
			}
		}
	}
}

// -- Default Active Properties
 
body.flexpanel-active{
	#wrapper{		
		-webkit-transform: translate(-79%, 0);
		-moz-transform: translate(-79%, 0);
		-ms-transform: translate(-79%, 0);
		transform: translate(-79%, 0);
		opacity: 0.4 !important;
		filter: alpha(opacity = 40) !important;
	}		 
	.flexpanel{
		right:-80%;
		.cover{
    		display:block;
    		left: -130%;    		
    	}
    	.viewport-wrap{
			@include transform("translate(-100%, 0)");		
			.flex-btn{
				opacity: 1 !important;
				filter: alpha(opacity = 100) !important;
				
				span{
					background-color: #222;
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(1){
						@include transform("rotate(45deg)");
						top:15px;
					}
					&:nth-child(3){
						@include transform("rotate(-45deg)");
						top:15px;
					}
				}
			}
		}
	}	
}

//***********************************************
// -- LEFT MENU
//***********************************************
body.flexpanel-left .flexpanel{	
	right:auto;
	left:-80%;
	.flex-btn{		
		left:auto;
		right:-48px;
	}
	.cover{
		left:auto;
		right:-50%;
	}
}
// -- Left Active Properties
body.flexpanel-left.flexpanel-active{
	#wrapper{		
		@include transform("translate(75%, 0)");
	}			 
	.flexpanel{
		right: auto;
		left:-80%;
		.cover{
			display:block;
    		left: 130%;    		
    	}
    	.viewport-wrap{
			@include transform("translate(100%, 0)");
		}
	}		
}



	


